<!-- Main Footer -->
<footer class="main-footer ml-0">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Sitio interactivo Mashup - Proyecto Final
    </div>
    <!-- Default to the left -->
    <strong>
        Copyright &copy; 2024  
        <a href="https://github.com/Ivanchis1515/mashup-progresiva-asp.net" target="_blank">Universidad Tecnológica de Puebla</a>.
    </strong> All rights reserved.
</footer>